<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="navbar.component.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <ul class="nav-links">
                <li>
                    <a href="#">
                        Blackverse
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/_blackverse_/" target="_blank">
                        <img src="assets/instagram-icon.png" alt="Instagram Logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/aryaa-walke" target="_blank">
                        <img src="assets/linkedin-icon.png" alt="LinkedIn Logo">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>
